.countdown-container {
    font-size: 36px;
    font-weight: bold;
    color: #6aaa64; /* green color */
    text-align: center;
    margin: var(--spacing-sm) auto;

  }

  .time-ended {
    color: rgb(194, 194, 194);
    font-size: 2vh;
  }
  
  
  /* Dramatic effect for last 5 seconds */
  .dramatic {
    color: #ff5555; /* red for urgency */
  }
  

