/* Default key styles */
.myTheme .hg-button {
    transition: transform 0.1s ease-in-out; /* Smooth animation */
  }
  
  /* Highlight effect when a key is pressed */
  .pressed {
    transform: scale(1.3); /* Enlarge the key slightly */
  }
  

  @keyframes pump {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .myTheme .hg-button.pump {
    animation: pump 1.5s infinite;
    color: white;
    font-weight: bold;
  }
  