/* General Modal Styling */
.timer-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.timer-modal-content {
  background: #121212;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.timer-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

/* Win Message */
.win-message {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 12px;
}

/* Word Display */
.word-display {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 12px;
}

.letter-tile {
  background-color: #6aaa64; 
  font-weight: bold;
  font-size: 2 rem;
  padding: 12px 16px;
  border-radius: 8px;
}

/* Stats Section */
.stats-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  padding: 12px;
  border-radius: 8px;
  background: rgba(93, 106, 100, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 160px; 
}



.stats-title {
  align-self: flex-start; 
  font-size: 0.9rem;
  color: #6a6767;
}



/* Stat Blocks */
.stat {
  flex: 1;
}

.stat-large {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}




.time {
  font-size: 1rem;
  font-weight: bold;
  
}

/* Mobile Optimization for Google Pixel 6a */
@media {
  .timer-modal-content {
    width: 90%;
    padding: 15px;
    max-width: 420px;
    border-radius: 12px;
  }

  /* Win Message */
  .win-message {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  /* Letter Tiles */
  .letter-tile {
    margin: 0.4px;
    font-size: 1.8rem;
    padding: 4px 14px;
    border-radius: 5px;
  }


  .stat-label {
    font-size: 0.9rem;
    color: #bbbbbb;
    white-space: pre-line;

  }


  /* Close Button */
  .timer-close-button {
    font-size: 20px;
    top: 8px;
    right: 8px;
  }
}







